<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui">


<f:view>

	<h:head>
		<title>Control de roles de seguridad</title>
		<style type="text/css">
.ui.widget {
	font-size: 75% !important;
}
</style>
	</h:head>

	<h:body>
		<h:form id="frmGeneral">
			<p:fieldset legend="Gestion de Roles" toggleable="true">
				<p:messages id="messages" />
				<h:inputHidden id="id" size="60"
					value="#{securityRoleBean.securityRole.id}" />
				<h:panelGrid columns="2"
					style="font-family: Verdana, Arial; font-weight:bold;">


					<h:outputLabel id="lblSecurityRole" value="*Role:"
						for="securityRole" style="float:righh;" />
					<h:inputText id="securityRole" size="60"
						value="#{securityRoleBean.securityRole.name}" required="true"
						requiredMessage="Campo [Security Role] es obligatorio" />



					<p:commandButton value="Guardar"
						action="#{securityRoleBean.save()}"
						update="frmGeneral,messages,dtUsers" />
				</h:panelGrid>

				<p:spacer height="10" />

				<p:dataTable id="dtSecurity"
					emptyMessage="No se encontraron registros"
					value="#{securityRoleBean.securityRoles}" var="s"
					style="text-aling:center; font-weight:bold;">
					<f:facet name="header">
						<h:outputText value="Registro de Roles" />
					</f:facet>


					<p:column>
						<f:facet name="header">
							<h:outputText value="Security Role" />
						</f:facet>
						<h:outputText value="#{s.name}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Control" />
						</f:facet>
						<f:ajax event="click" render="@form"
							listener="#{securityRoleBean.remove(s)}">
							<h:commandLink value="Eliminar" />
						</f:ajax>

						<p:spacer height="10" />

						<f:ajax event="click" render="@form"
							listener="#{securityRoleBean.search(s)}">
							<h:commandLink value="Editar" />
						</f:ajax>
					</p:column>

					<f:facet name="footer">
						<h:outputText
							value="Hay un total de #{securityRoleBean.count}
					Role(s) registrados en el sistema." />
					</f:facet>

				</p:dataTable>

			</p:fieldset>

		</h:form>

	</h:body>

</f:view>


</html>